<section class="py-3 container">
  <h1 class="h3">Errore <%= status || 404 %></h1>
  <p class="muted"><%= message || "Pagina non trovata." %></p>
  <p>
    <a class="btn" href="/" data-link data-action="go-home-404">
      Torna alla Home
    </a>
  </p>
</section>
