<section class="py-3 container">
  <h1 class="h3">Errore <%= status || 500 %></h1>
  <p class="muted">
    Ops! Si è verificato un errore interno. Riprova più tardi.
  </p>
  <p>
    <a class="btn" href="#" role="button" data-action="go-home-500"
      >Torna alla Home</a
    >
  </p>
</section>
