<section class="py-3">
  <h1 class="h3">Area amministratore</h1>

  <nav class="stack mb-4">
    <button id="btn-admin-items" class="btn">Gestisci gonfiabili</button>
    <button id="btn-admin-coupons" class="btn">Gestisci coupon</button>
    <button id="btn-admin-news" class="btn">Iscritti newsletter</button>
    <button id="btn-admin-users" class="btn">Utenti</button>
    <button id="btn-admin-bookings" class="btn">Prenotazioni</button>
    <button id="btn-admin-reviews" class="btn" type="button">Recensioni</button>
    <button id="btn-admin-blog" class="btn" type="button">Gestisci Blog</button>
  </nav>

  <!-- pannello dinamico -->
  <div id="admin-panel" class="stack"></div>
</section>